.App {
  font-family: 'Roboto', sans-serif;
  padding: 50px 100px;
  min-height: 100vh;
  background-color: #100f1d;
  color: white;
}

.weather-and-locations {
  display: flex;

  .locations {
    width: 35%;
  }
}